*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/dummy
spec/reports
test/tmp
test/version_tmp
tmp
.byebug_history
.ruby-version
.ruby-gemset
